
.page-header {
	margin-top: 0px;
	margin-bottom: 10px;
}

p.lead {
	margin-bottom: 5px;
}

.tab-pane {
	padding-top: 10px;
	padding-left: 10px;
}

/* d3 graph css */
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: steelblue;
}